h1{
    color :blueviolet;
    font-family: Arial;
    text-align: center;
}

h2{
    color :blueviolet;
    font-family: Arial;
    text-align: center;
}

p{
    text-align: right;
    font-style :italic;
}